// 水平信息
.itemInfo {
  margin-bottom: 2px;
  background:rgba(216,216,216,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 15px 20px;
  .info {
    p {
      font-size:15px;
      font-weight:500;
      color:#FFFFFF;
      padding: 2px 0;
      line-height:1;
    }
    span {
      font-size:12px;
      color:rgba(255,255,255,1);
      line-height:1;
    }
  }
  .action {
    font-size:12px;
    font-weight:400;
    color:rgba(82,248,235,1);
    line-height:1;
    padding: 4px 8px;
    border: 1px solid rgba(82,248,235,1);
    border-radius: 5px;
  }

}

.blockHeader {

  background:rgba(216,216,216,0.06);
  padding: 18px 20px;
  span {
    font-size:15px;
    color:rgba(255,255,255,1);
    line-height:1;
    
  }

}

.introduction {
  margin: 25px 0;
  font-size:10px;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:13px;
  padding: 0 20px;
}

.midImage {
  margin-top: 43px;
  text-align: center;
  .imgContainer {
    display: inline-block;
    width: 152px;
    height: 152px;
    overflow: hidden;
    line-height: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .imgCaption {
    text-align: center;
    font-size:12px;
    font-weight:500;
    color:rgba(255,255,255,1);
    padding: 8px 0;
    line-height:17px;
    letter-spacing:1px;
  }
}
.hintTips {
  font-size:12px;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:14px;
  margin: 9px 0;
  text-align: left;
}
.extraAction {
  position: absolute;
  right: 20px;
  span {
    padding: 0 4px;
  }
}
.btnWrapper {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 12px;
  button {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    width: 100%;
    background:rgba(82,248,235,1);
  }
}
.bosRemain {
  margin-top: 12px 0 25px;
  font-size:10px;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:13px;
}
.selectionWrapper {
  padding: 0 12px;
  z-index: 1;
  text-align: right;
}
.selection {
  display: inline-block;
  width: 70px;
  position: absolute;
  transform: translateX(-100%);
  text-align: left;
  right: 0;
  div {
    font-size:12px;
    font-weight:500;
    color:rgba(26,25,25,1);
    line-height:13px;
    padding: 8px 0;
    text-align: center;
    background:rgba(244,246,249,1);
    border: 1px solid #FFFFFF;
    
  }
  
}
.hide {
  display:none;
}
.shown {
  display: block;
}

.address {
  font-size:14px;
  color:rgba(255,255,255,1);
  line-height:1;
  padding: 15px;
  background: rgba(244,246,249, 0.3);
  border-radius:4px;
}