.accountInfo {
  margin-top: 13px;

  // banner reward
  .banner {
    line-height:173px;
    background:linear-gradient(300deg,rgba(81,25,251,1) 0%,rgba(82,255,234,1) 100%);
    border-radius:10px;
    text-align: center;

    .content {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      p {
        &.title {
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        }
        &.totleEos {
          margin-top: 13px;
          font-size: 30px;
          font-weight: 500;
          line-height: 42px;
        }
        &.minerPrice {
          margin-top: 5px;
          font-size: 12px;
          font-weight: 500;
          line-height: 17px;
          color: #D8D8D8;
        }
      }
    }
  }

  // miner reward
  .minerReward {
    font-size: 14px;
    font-weight: 500;
    margin: 23px 0;
    .content {
      display: flex;
      height: 65px;
      align-items: center;
      position: relative;
      text-align: center;
      .block {
        width: 50%;
        svg {
          width: 38px;
          height: 34px;
          margin-right: 8px;
          path {
            color: #80E9FC;
            fill: currentColor;
        }
        }
        p {
          text-align: left;
          display: inline-block;  
          span {
            display: inline-block;
            padding: 2px 0;
          }
        }
      }
      .sep {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        border-left: 1px solid #D8D8D8;
      }
    }
  }

  
}

// homapage balance
.balance {
  margin-top: 6px;
  line-height:14px;
  font-size:10px;
  font-weight:500;
  color: #D8D8D8;
  line-height:14px;
  span {
    margin-right: 5px;
  }

}
.estimate {
  font-size:10px;
  font-weight:500;
  color:#FFFFFF;
  line-height:9px;
}
.btnWrapper {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 12px;
  button {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    width: 100%;
    background:rgba(82,248,235,1);
  }
}
.info {
  padding: 12px;
  padding-bottom: 8px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  vertical-align: middle;
}

.warnning {
  margin-top: 18px;
  line-height:14px;
  font-size:10px;
  font-weight:500;
  height: 84px;
  color: #D8D8D8;
  line-height:14px;
  span {
    margin-right: 5px;
  }

}

.rules {
  font-size:10px;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:14px;
  padding-bottom: 25px;
}

// forge page campaign
.timerBlock {
  height: 171px;
  width: 171px;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 22px;
  font-weight: 500;
  color: #102956;
  position: relative;
  .timer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    margin: 43px auto auto auto;
    .title {
      font-size: 14px;
      font-weight: 400;
    }
    p {
      line-height: 1;
      margin: 10px;
    }

  }
}

.poolInfo {
  line-height:28px;
    font-size:20px;
    font-weight:500;
    color:rgba(255,255,255,1);
  p {
    text-align: center;
    margin: 29px 0 17px;
  }
  .poolBalance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    span {
      padding: 0 10px;
    }
  }
  .estimateReward {
    margin: 17px 0 19px;
    font-size:12px;
    font-weight:500;
    color:#D8D8D8;
    line-height:17px;
  }
}