// @import "../node_modules/normalize-scss/sass/normalize";
@import '~antd/dist/antd.css';
.ant-slider-mark {
  .ant-slider-mark-text {
    color: #FFFFFF;
  }
}
body {
  background:rgb(16,41,86);
  color: #FFFFFF;
}
a {
  text-decoration: none;
  color: inherit;
}
.contentWrapper {
  padding: 0 20px;
}
h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
button, input {
  border: none;
}
input {
  color: #000000;
}
